.arabic-text,
.arabic-bismillah {
  font-family: "Amiri", serif;
}
.arabic-text {
  font-size: 16px;
  white-space: nowrap;
}

.arabic-bismillah {
  font-size: 22px;
  font-weight: bold;
  white-space: nowrap;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .arabic-text {
    font-size: 14px;
  }
  .arabic-bismillah {
    font-size: 18px;
  }
}
